<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/Kristjan93/patti-special-button/main/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>kYL1fc9xFRY0a2JwhJyHCBm7yWFiZlC38LcT/63gn9M=</string>
</dict>
</plist>
